/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
.newline::before {
  content: "\A";
  white-space: pre;
}

.Title-Chinese {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 400;
}

.icon-links {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the space between icons */
  margin-top: 10px; /* Adjust the space between the image and the icons */
}

.icon-link {
  color: #333; /* Adjust the icon color */
  font-size: 24px; /* Adjust the icon size */
  text-decoration: none;
}

.icon-link:hover {
  color: #007bff; /* Adjust the icon hover color */
}

.portfolio-title {
  color: #0e2442;
  margin-top: 10px; /* Adjust the space between the image and the title */
  text-align: center; /* Center the title text */

}

.separator {
  background-color: rgba(221, 221, 221, 0.5);
  height: 2px; /* Adjust the thickness of the separator line */
  margin-top: 5rem;
  margin-bottom: 1rem;
  width: 90%; /* Adjust the width of the separator line */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.altmetric-embed {
  padding-left: 1rem;
}
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #149ddd;
  text-decoration: none;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

#header1 {
  display: none;
}

@media (max-width: 853px) {
  #header {
    left: -300px;
  }

  .about-name {
    display: none;
  }

  #main {
    margin-left: 0;
  }

  .top-header-name {
    color: #bbb;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0px;
  }

  #header1 {
    display: block;
    padding: 1px 0;
    overflow: hidden;
    background: #040b14;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
  }
  .top-header {
    overflow-y: auto;
    height: 100%;

  }

  .navbar-top {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
  }

  .navbar-top-list {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navbar-top-list li {
    display: inline-block;
    margin: 0 0px;
  }

  .header-links-container .navbar-top-list i {
    display: none;
  }

}


.navbar-top-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}


.navbar-top-list li {
  margin-right: 15px;
  margin-left: 15px;
}

.navbar-top-list li:last-child {
  margin-right: 0;
}

.icon-links-header1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  list-style: none;
  padding-left: 0;
}



.icon-links-header1 li {
  margin-right: 10px;
  margin-left: 10px;
}

.icon-links-header1 li:last-child {
  margin-right: 0;
}

.header-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 853px) {
  .header-links-container {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .navbar-top-list {
    margin-right: 15px;
  }

  .icon-links-header1 {
    margin-left: 15px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 25px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*@media (max-width: 853px) {*/
/*  .nav-menu {*/
/*    padding-top: 0;*/
/*  }*/

/*  .nav-menu a,*/
/*  .nav-menu a:focus {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    color: #a8a9b4;*/
/*    padding: 0px 15px 15px 15px;*/
/*    margin-bottom: 0px;*/
/*    transition: 0.3s;*/
/*    font-size: 15px;*/
/*  }*/

/*  .icon-link {*/
/*    padding-bottom: 0px;*/
/*  }*/

/*}*/

@media (max-width: 853px) {
  .nav-menu {
    padding-top: 0;
  }

  .nav-menu a,
  .nav-menu a:focus,
  .nav-menu a.icon-link,
  .nav-menu a.icon-link:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 0px 15px 15px 15px;
    margin-bottom: 0px;
    transition: 0.3s;
    font-size: 15px;
  }

  .nav-menu a.icon-link,
  .nav-menu a.icon-link:focus {
    padding-bottom: 5px; /* Adjust this value to your desired bottom padding */
    /*margin-bottom: 0px;*/
  }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts {
  padding-bottom: 30px;
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #149ddd;
  float: left;
  line-height: 0;
}

.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}

.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}

.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.facts .count-box a:hover {
  color: #1f5297;
}

/*--------------------------------------------------------------
# Akills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #149ddd;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #149ddd;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap:hover::before {
  content: "";
  background: rgba(255, 255, 255, 0); /* Change the opacity here */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 1;
}


.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(20, 157, 221, 0.95);
}

.portfolio .portfolio-wrap .portfolio-links a+a {
  border-left: 1px solid #37b3ed;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

.portfolio-hover-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: rgba(255, 255, 255, 0.65);
}

.portfolio .portfolio-wrap:hover .portfolio-hover-content {
  opacity: 1;
}

.portfolio-hover-content p {
  color: #000;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
}

.portfolio-content {
  cursor: pointer; /* Change the cursor to a pointer when hovering */
}

.portfolio-content:hover .portfolio-title h4 {
  color: #007bff; /* Example: change the text color */
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-detail-div {
  margin-top: 20px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #149ddd;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #149ddd;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info .portfolio-info-description-last-p {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.portfolio-details .portfolio-info p {
font-size: 18px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  /*padding-top: 30px;*/
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.skills-date-container {
  /*padding-bottom: 20px;*/
  border-bottom: 1px solid #eee;
}

.skills-date-container p {
  margin-bottom: 10px;
  font-size: 16px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skill-group {
  margin-right: 40px;
}

.skill-group ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
  margin-right: 20px;
}

.skills-date-container ul li.expandable-skills i {
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.skills-date-container ul li.expandable-skills.collapsed i {
  transform: rotate(0deg);
}

.skills-date-container ul li.expandable-skills:not(.collapsed) i {
  transform: rotate(90deg);
}

.skills-date-container ul li.expandable-skills {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  transition: margin-right 0.3s ease;
}

.skills-date-container ul li.expandable-skills.collapsed {
  margin-right: 10px;
}


.expandable-skills {
  cursor: pointer;
  color: #777; /* change this to the dark color you want */
  text-decoration: none;
}

.expandable-skills:hover {
  color: #000; /* change this to the dark hover color you want */
  text-decoration: underline;
}


.portfolio-date {
  margin-top: 10px;
}

.portfolio-figure-caption {
  margin-bottom: 20px;
}

.portfolio-paper {
  padding-top: 20px;
  margin-top: 20px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  padding-top: 30px; /* padding for any controls or titles */
  height: 0;
  overflow: hidden;
  /*width: 80%; !* set the width of the video container to 80% of its parent *!*/
  /*margin: 0 auto;*/
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio-video-caption {
  padding-left: 50px;
}

.figure-container {
  width: 100%;
}

.figure-container figure {
  margin: 40px 0; /* adjust as needed */
  text-align: center;
  border-bottom: 1px solid #ccc; /* add a border at the bottom of each figure as a divider */
  padding-bottom: 20px; /* add some space between the figure and the divider */
}

.figure-container img {
  max-width: 100%;
  height: auto;
}

/*.figure-container figure:last-child {*/
  /*border-bottom: none; !* remove the border for the last figure *!*/
/*}*/

.figure-container figcaption {
  margin-top: 30px; /* adjust as needed */
  text-align: justify;
  width: 80%;  /* set the width of the figcaption */
  margin-left: auto;
  margin-right: auto;
}

.clickable-menu {
  background-color: #f8f8f8; /* light gray background */
  border: 1px solid #ddd; /* thin gray border */
  border-radius: 5px; /* slightly rounded corners */
  width: 50%; /* adjust width as needed */
  margin: 20px 0; /* some space above and below the menu */
  padding: 10px; /* some space inside the menu */
  list-style-type: none; /* removes default bullet points */
}

.clickable-menu ul {
  padding: 0; /* removes default padding */
}

.clickable-menu li {
  margin-bottom: 10px; /* space between list items */
}

.clickable-menu a {
  color: #333; /* dark gray text color */
  text-decoration: none; /* removes the default underline */
}

.clickable-menu a:hover {
  color: #007bff; /* changes the link color on hover */
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
  position: relative;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Add some padding for better spacing */
  border-radius: 15px; /* Optional: Add border-radius for rounded corners */
}

.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #149ddd;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #149ddd;
}

.services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #149ddd;
}

.services .title {
  /*margin-left: 80px;*/
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  padding-top: 1rem;
}

.services .title a {
  color: #343a40;
}

.services .title a:hover {
  color: #149ddd;
}

.services .description {
  /*margin-left: 80px;*/
  line-height: 24px;
  font-size: 14px;
}

.conferenceName {
  font-weight: bold;
  font-size: 22px;
}

.AwardName {
  font-style: italic;
}

.col-8 {
  display: flex;
  flex-direction: column;
}

.icon-box-content {
  flex-grow: 1;
}

.icon-box-buttons {
  margin-top: auto;
}

.icon-box .img-fluid {
  max-width: 100%;
  height: auto;
}

.icon-box .title {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.icon-box .description {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.icon-box .conferenceName,
.icon-box .AwardName {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.conferenceName,
.AwardName {
  display: inline;
}

.project-description {
  padding-top: 1rem;
}

.custom-btn {
  border: 1px solid #007BFF;
  background-color: transparent;
  color: #007BFF;
  font-weight: 600;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
}

.custom-btn:hover {
  background-color: #007BFF;
  color: #fff;
}

.custom-btn i {
  margin-right: 5px;
}

.paper-info p {
  display: inline-block;
}

.icon-box .row {
  align-items: center;
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #f9f9f9;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}

